//
// App page content
// -------------------------------------------

.app-page {
  padding: 0;
}

.app-page-title {
  .page-header();
}


// Use custom lead element for page desciptions
// that has proper line-height on all media types
.app-page-lead,
app-page-abstract {
  margin-bottom: @line-height-computed;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  @media (min-width: @screen-sm-min) {
    font-size: 1.5rem;
  }
}

.app-icon {
	//background: #000;
	color: #000;
	font-size: 10rem;
	width: 500px;
	height: 500px;
	padding: @line-height-computed;
	text-align: center;
}