<section id="agentur" class="app-section agentur-section">
        <h1 class="app-heading"><i class="fa fa-info-circle"></i> Agentur</h1>
            <p class="app-subheading">Wir arbeiten....GERNE.</p>
        <div class="app-row">
        <div class="app-content-left">
            <img class="app-img b-lazy"
                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-src="../assets/img/customer.jpg"
                 alt="Ade25" />
        </div>
        <div class="app-content-right">
            <h2>Projektbildung</h2>
                <p>Zwischen Ihrer Idee, dem geeigneten Lösungsumsatz und dem Endprodukt liegt eine Menge - Zeit, Phantasie, Rework.</p>
                <p>Daher setzen wir auf <strong>KOMMUNIKATION, KOORDINATION</strong> und <strong>KONTROLLE!</strong> - Eva Gallitzendörfer</p>
                <p>Um den starren Strukturen etwas produktives Chaos zu verleihen, geben wir noch etwas <strong>KUNST, CHAOS</strong> und <strong>KREATIVITÄT</strong> hinzu - Serge Davidov und Eduard Davidov.</p>
                <p>Um das Ganze dann noch in passende Klamotten zu stecken, schneidern wir kurzum aus etwas <strong>PLONE, PYTHON</strong> und <strong>PAPIER</strong> das perfekte Outfit - Christoph Böhner.</p>
                <p>You will love it!</p>
        </div>
        </div>
        <div class="app-row team">
        <div class="app-content-left-fourth">
        <h2>Serge Davidov</h2>
        <h3>Der Diplomat</h3>
        <img class="app-img b-lazy"
                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-src="../assets/img/team/sd.png"
                 alt="Ade25" />
        <div class="app-team-social">
        <ul>
        <li><a href="https://twitter.com/SergeDavidov/"><i class="fa fa-twitter"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li>
        </ul>
        </div>
            <p><em>"Das interessiert mich nicht, gibt es nicht."</p>
        </div>

         <div class="app-content-left-fourth">
         <h2>Eva Gallitzendörfer</h2>
         <h3>Der Überblick</h3>
         <img class="app-img b-lazy"
                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-src="../assets/img/team/eg.png"
                 alt="Ade25" />
        <div class="app-team-social">
        <ul>
        <li><a href="https://twitter.com/SergeDavidov/"><i class="fa fa-twitter"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li>
        </ul>
        </div>
             <p><em>"Es gibt keinen Berg, den man nicht in kleine, überwindbare Hügel zerkleinern kann."</p>
        </div>

         <div class="app-content-left-fourth">
         <h2>Christoph Böhner</h2>
         <h3>Der Visionär</h3>
         <img class="app-img b-lazy"
                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-src="../assets/img/team/cb.png"
                 alt="Ade25" />
        <div class="app-team-social">
        <ul>
        <li><a href="https://twitter.com/SergeDavidov/"><i class="fa fa-twitter"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li>
        </ul>
        </div>
             <p><em>"Alles geht. Aber ist es sinnvoll?"</em></p>
        </div>
        

        <div class="app-content-left-fourth">
         <h2>Edo Davidov</h2>
         <h3>Der Ruhepol</h3>
         <img class="app-img b-lazy"
                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-src="../assets/img/team/ed.png"
                 alt="Ade25" />
        <div class="app-team-social">
        <ul>
        <li><a href="https://twitter.com/SergeDavidov/"><i class="fa fa-twitter"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li>
        </ul>
        </div>
             <p><em>"Was bringt der ganze Erfolg, wenn wir nicht ab und zu innehalten, um zu sehen, was wir bereits erreicht haben."</em></p>
        </div>
        </div>

    </section>