<section id="agentur" class="agentur-section">  
        <div class="app-row">
        <div class="app-content-full">
        <h1 class="app-heading">
            <i class="fa fa-info-circle"></i> Agentur</h1>
            <p class="app-subheading">Wir arbeiten....GERNE.</p>
            <h2>Projektbildung</h2>
                <p>Zwischen Ihrer Idee, dem geeigneten Lösungsumsatz und dem Endprodukt liegt eine Menge - Zeit, Phantasie, Rework.</p>
                <p>Daher setzen wir auf <strong>KOMMUNIKATION, KOORDINATION</strong> und <strong>KONTROLLE!</strong> - Eva Gallitzendörfer</p>
                <p>Um den starren Strukturen etwas produktives Chaos zu verleihen, geben wir noch etwas <strong>KUNST, CHAOS</strong> und <strong>KREATIVITÄT</strong> hinzu - Serge Davidov und Eduard Davidov.</p>
                <p>Um das Ganze dann noch in passende Klamotten zu stecken, schneidern wir kurzum aus etwas <strong>PLONE, PYTHON</strong> und <strong>PAPIER</strong> das perfekte Outfit - Christoph Böhner.</p>
                <p>You will love it!</p>
        </div>
        </div>

    </section>