<div class="app-brandbar" id="app-brandbar">
    <div class="app-brandbar-content">
        <div class="app-brand">
            <div class="app-brand-title">
                <a class="app-navbar-brand-image page-scroll" href="#page-top">
                    {% include logo.html %}
                </a>
                    <span class="app-brandname-heading">App Brandname</span>
            </div>
            <div class="app-brand-claim">
                <p class="app-claim">
                    App specific claim
                </p>
            </div>
        </div>
    </div>
</div>