
<!-- Intro Section -->
    <section id="intro" class="intro-section">
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel fade" data-interval="3000" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item item01 active">
          <div class="container">
            <div class="carousel-caption">
                <h1>Wir sind eine ON/OFF-LINE MEDIEN AGENTUR mit Sitz in Augsburg.</h1>
                <p>Wir betreuen Kunden auf der ganzen Welt – ob Großunternehmen, Mittelstand, Existenzgründer oder Privatpersonen.</p>
            </div>
          </div>
        </div>
        <div class="item item02">
          <div class="container">
            <div class="carousel-caption">
             <h1>ADE 25</h1>
                <p>Lokal-Global Prinzip</p>
            </div>
          </div>
        </div>
        <div class="item item03">
          <div class="container">
            <div class="carousel-caption">
              <h1>Kreativkombinat / Frazil Records</h1>
                <p>Lassen Sie sich nicht nur sehen, sondern auch hören...</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
    </section>