<div class="app-clientsbar" id="app-clientsbar">
    <div class="app-clientsbar-content">
        <div class="app-clientsbar-title">
        </div>
            <ul>
            <li><a href="http://bghw.de/">
                <img class="app-img b-lazy"
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-src="{{ page.base_url }}assets/img/clients/bghw.png"
                     alt="BGHW" />
                </a>
            </li>
            <li><a href="http://weka.de/">
                <img class="app-img b-lazy"
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-src="{{ page.base_url }}assets/img/clients/weka.png"
                     alt="WEKA" />
                </a>
            </li>
            <li><a href="http://kjf-augsburg.de/">
                <img class="app-img b-lazy"
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-src="{{ page.base_url }}assets/img/clients/kjf.png"
                     alt="KJF" />
                </a>
            </li>
            <li><a href="http://atix.de/">
                <img class="app-img b-lazy"
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-src="{{ page.base_url }}assets/img/clients/atix.png"
                     alt="ATIX" />
                </a>
            </li>
            <li><a href="http://eisglut.com/">
                <img class="app-img b-lazy"
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-src="{{ page.base_url }}assets/img/clients/eisglut.png"
                     alt="Eisglut" />
                </a>
            </li>
            <li><a href="http://androschin.com/">
                <img class="app-img b-lazy"
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-src="{{ page.base_url }}assets/img/clients/apc.png"
                     alt="Androshin & Partner" />
                </a>
            </li>
            
            </ul>      
        </div>
    </div>
</div>