<div class="app-clientsbar" id="app-clientsbar">
    <div class="app-clientsbar-content">
        <div class="app-clientsbar-title">
            <ul>
            <li><a class="app-navbar-brand-image page-scroll" href="#page-top">
                <img class="app-brandname-logo" src="{{ page.base_url }}assets/img/clients/bghw.png" /></a>
            </li> 
            <li><a class="app-navbar-brand-image page-scroll" href="#page-top">
                <img class="app-brandname-logo" src="{{ page.base_url }}assets/img/clients/weka.png" /></a>
            </li> 
            <li><a class="app-navbar-brand-image page-scroll" href="#page-top">
                <img class="app-brandname-logo" src="{{ page.base_url }}assets/img/clients/kjf.png" /></a>
            </li> 
            <li><a class="app-navbar-brand-image page-scroll" href="#page-top">
                <img class="app-brandname-logo" src="{{ page.base_url }}assets/img/clients/atix.png" /></a>
            </li>
            <li><a class="app-navbar-brand-image page-scroll" href="#page-top">
                <img class="app-brandname-logo" src="{{ page.base_url }}assets/img/clients/eos.png" /></a>
            </li> 
            <li><a class="app-navbar-brand-image page-scroll" href="#page-top">
                <img class="app-brandname-logo" src="{{ page.base_url }}assets/img/clients/hw.png" /></a>
            </li> 
            <li><a class="app-navbar-brand-image page-scroll" href="#page-top">
                <img class="app-brandname-logo" src="{{ page.base_url }}assets/img/clients/sfw.png" /></a>
            </li> 
            <li><a class="app-navbar-brand-image page-scroll" href="#page-top">
                <img class="app-brandname-logo" src="{{ page.base_url }}assets/img/clients/capital.png" /></a>
            </li>
             <li><a class="app-navbar-brand-image page-scroll" href="#page-top">
                <img class="app-brandname-logo" src="{{ page.base_url }}assets/img/clients/feldenkrais.png" /></a>
            </li>
             <li><a class="app-navbar-brand-image page-scroll" href="#page-top">
                <img class="app-brandname-logo" src="{{ page.base_url }}assets/img/clients/eisglut.png" /></a>
            </li>
             <li><a class="app-navbar-brand-image page-scroll" href="#page-top">
                <img class="app-brandname-logo" src="{{ page.base_url }}assets/img/clients/capital.png" /></a>
            </li>
             <li><a class="app-navbar-brand-image page-scroll" href="#page-top">
                <img class="app-brandname-logo" src="{{ page.base_url }}assets/img/clients/capital.png" /></a>
            </li>
             <li><a class="app-navbar-brand-image page-scroll" href="#page-top">
                <img class="app-brandname-logo" src="{{ page.base_url }}assets/img/clients/capital.png" /></a>
            </li>       
        </div>
    </div>
</div>