<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="app-footer-content">
        <p>&copy; 2014 ADE25 &middot; Designed and built by <a href="http://kreativkombinat.de" target="_blank">KK</a>.</p>
        <div class="app-social">
            <ul>
                <li><a href="https://www.facebook.com/NugzBlackyCustomGuitars"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/NugzBlacky"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UC_VwPXIPe2TxqDlATjbCLyg"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>    
</footer>