<!--Video Section-->
<section class="intro-section">
  <video autoplay loop muted poster="../assets/img/cover.jpg" class="app-intro-background">
        <source src="../assets/img/drops.mp4" type="video/mp4">
    </video>
    <div class="app-intro-brand">
        {% include kk.html %}
        
        <div class="app-intro-info">
        
          <h1>Wir sind eine ON/OFF-LINE MEDIEN AGENTUR mit Sitz in Augsburg.</h1>
            <p>Wir betreuen Kunden auf der ganzen Welt – ob Großunternehmen, Mittelstand, Existenzgründer oder Privatpersonen. Sie äußern Ihre Wünsche – wir schaffen eine Lösung.</p>
        </div>
        </div>
</section>
<!--Video Section Ends Here-->
