<section id="team" class="app-section team-section">
<h1 class="app-heading">
            <i class="fa fa-info-circle"></i> Core Team</h1>
            <p class="app-subheading">Core</p>
        <div class="app-row team">
        <div class="app-content-left-fourth">
        <div class="app-card-body">
        <img class="app-img b-lazy"
                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-src="../assets/img/team/sd.png"
                 alt="Ade25" />
        <div class="app-card-header">
        <h2>Serge Davidov</h2>
        <h3>Der Diplomat</h3>
        <p>"Das interessiert mich nicht, gibt es nicht."</p>
        </div>
        <div class="app-team-social">
        <ul>
        <li><a href="https://twitter.com/SergeDavidov/"><i class="fa fa-twitter"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li>
        </ul>
        </div>
        </div>
        </div>
        <div class="app-content-right-fourth">
        <div class="app-card-body">
        <img class="app-img b-lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="../assets/img/team/eg.png"
                alt="Ade25" />
        <div class="app-card-header">
        <h2>Eva Gallitzendörfer</h2>
        <h3>Der Überblick</h3>
        <p>"Es gibt keinen Berg, den man nicht in kleine, überwindbare Hügel zerkleinern kann."</p>
        </div>
        <div class="app-team-social">
        <ul>
        <li><a href="https://twitter.com/SergeDavidov/"><i class="fa fa-twitter"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li>
        </ul>
        </div>   
        </div>
        </div>

         <div class="app-content-left-fourth">
         <div class="app-card-body">
         <img class="app-img b-lazy"
                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-src="../assets/img/team/cb.png"
                 alt="Ade25" />
         <div class="app-card-header">
         <h2>Christoph Böhner</h2>
         <h3>Der Visionär</h3>
         <p>"Alles geht. Aber ist es sinnvoll?"</p>
         </div>
        <div class="app-team-social">
        <ul>
        <li><a href="https://twitter.com/SergeDavidov/"><i class="fa fa-twitter"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li>
        </ul>
        </div>
        </div>
        </div>
        

        <div class="app-content-right-fourth">
        <div class="app-card-body">
        <img class="app-img b-lazy"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="../assets/img/team/ed.png"
                alt="Ade25" />
        <div class="app-card-header">
        <h2>Edo Davidov</h2>
        <h3>Der Ruhepol</h3>
        <p>"Was bringt der ganze Erfolg, wenn wir nicht ab und zu innehalten, um zu sehen, was wir bereits erreicht haben."</p>
        </div>
        <div class="app-team-social">
        <ul>
        <li><a href="https://twitter.com/SergeDavidov/"><i class="fa fa-twitter"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li> 
        <li><a href="https://www.facebook.com/kreativkombinat"><i class="fa fa-facebook"></i></a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>

    </section>